# Node.js
node_modules/
package-lock.json
.env

# Python
__pycache__/
*.pyc
venv/

# Logs
*.log

# Pose files
*.pose

# Build outputs
frontend/build/
backend/__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/.venv/
