[MASTER]
ignore=venv,migrations
load-plugins=pylint.extensions.docparams

[MESSAGES CONTROL]
disable=
    C0114,  ; missing-module-docstring
    C0115,  ; missing-class-docstring
    C0116,  ; missing-function-docstring
    R0903,  ; too-few-public-methods (Pydantic models)
    E1101,  ; no-member (Starlette dynamic attributes)
    W1203,  ; use % formatting in logging functions

[FORMAT]
max-line-length=100
indent-string='    '

[BASIC]
good-names=i,j,k,ex,Run,_,db,app
